
/* CSS design of form */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.8s;
  }
  
  .overlay-content {
    position: relative;
    top: 1%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  * {
    box-sizing: border-box;
  
  }
  
  input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.1);
  }
  
  
  input[type=submit] {
    background-color: #35cff2;
    color: white;
    padding: 8px 210px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  input[type=submit]:hover {
    background-color: #008b8b;
  }
  
  .container {
    border-radius: 5px;
  
    padding-left: 100px;
  }
  
  .col-25 {
    padding-left: 200px;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    padding-left: 180px;
    width: 85%;
    margin-top: 4px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 5px;
    }
  }
  