@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Image Parallax Section*/

.ParallaxImage {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}
.ParallaxImage h1{
	text-align:center;
}
.ParallaxImage h3 {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  color:#FFF;
}

.bg1 {
  background-image: url("../images/parallax1.jpg");
}
.bg2 {
  background-image: url("../images/med.jpg");
  z-index: 500;
}
.bg3 {
  background-image: url("../images/paxallax3.jpg");
}


.pat1:before
{
    
    background-attachment: fixed;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 500px;
    width: 100%;
    height: 222%;
    z-index: 0;
    opacity: 0.3;
    background-position: center top;
    background-size: cover;
}




/* Content Parallax Section*/
.ParallaxContent {
    background: none repeat scroll 0 0 #ffffff;
    padding: 42px 0;
    color:#000;	
    z-index: 100000;
} 
.ParallaxContent h3{
	color:#000;	
  text-align:center;
  z-index: 100000;

}

.ParallaxVideo1{ 
  height: 600px;
  padding-bottom: 50px;
  padding-top: 50px; 
  }
  .ParallaxVideo1 video{ 
  min-width: 50%;
  position: fixed;
  top:0;
  z-index: -999;
  }
  .ParallaxVideo1 h1 {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }


/* General Section*/
.containers {
  margin: 0 auto;
  padding:0 5px;
}
.headlines h2 {
    color: #fff;
    font-family: "PT Sans",sans-serif;
    font-size: 32px;
    margin: 0;
	text-align: center;
}
.headlines p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
	color:#f6f3f3;
	text-align: center;
}
@media (min-width: 768px) {
  .containers {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .containers {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containers {
    width: 1024px;
  }
}



/* CSS design of form */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(255,255,255, 0.7);
  overflow-x: hidden;
  transition: 0.8s;
}

.overlay-content {
  position: relative;
  top: 1%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
  color: #0e9fd4;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

* {
  box-sizing: border-box;

}

input[type=text], select, textarea {
  width: 70%;
  padding: 12px;
  color: black;
  border: none;
  border-radius: 4px;
  background-color: rgba(14,159,212);
}


input[type=submit] {
  background-color: #35cff2;
  color: black;
  padding: 8px 210px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.411);
}

.container {
  border-radius: 5px;

  padding-left: 100px;
}

.col-25 {
  padding-left: 200px;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  padding-left: 180px;
  width: 85%;
  margin-top: 4px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
}
